streamlit
langchain>=0.1.0,<0.2.0  # Recommend pinning major Langchain versions
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-community
langchainhub
google-api-python-client
google-search-results
python-dotenv
# langchain-openai # Uncomment if adding OpenAI support
